# Virtual environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs
*.log

# Model/artifacts (IMPORTANT for ML projects)
artifacts/
*.pt
*.pkl

# Jupyter (if you ever use notebooks)
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env

# uv lock (optional - usually COMMITTED, so DO NOT ignore by default)
# uv.lock